# ------------------------------------------------------------------------- #
# DEBIAN PACKAGE CONTROL FILE                                               #
#                                                                           #
# This file is a Debian control file. For more information on the config in #
# this file, please run `man deb-control`.                                  #
# ------------------------------------------------------------------------- #

Source: gabbi-tools
Section: contrib/python
Priority: extra
Maintainer: Tom Viner <tom.viner@hogarthww.com>
Build-Depends: debhelper (>= 9), python3.4, python3-setuptools, dh-virtualenv (>> 0.6), tar
Standards-Version: 3.9.5
Homepage: https://github.hogarthww.com/zonzaltd/gabbi-tools

Package: gabbi-tools
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), python3.4
Description: gabbi-tools service
