#!/usr/bin/make -f
# Build Debian package using https://github.com/spotify/dh-virtualenv

# Increase trace logging, see debhelper(7) (uncomment to enable)
#DH_VERBOSE=1

override_dh_auto_test:
	echo "SKIPPING TESTS"

%:
	dh $@ --with python-virtualenv

override_dh_virtualenv:
	dh_virtualenv \
        --python /usr/bin/python3.4 \
        --pypi-url=http://pypi-zonza.hogarthww.prv/hogarthww/unstable/+simple/ \
        --setuptools \
        --preinstall pip==6.1.1 \
        --preinstall setuptools==18.7.1 \
        --preinstall wheel==0.26.0

override_dh_builddeb:
	dh_builddeb --destdir=${DESTINATION_DPKG_DIR}
